.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem 0;
    text-align: center;
}
.brand-container{
    display: flex;
    justify-content: center;
}
.header img{
    max-width: 300px;
    margin: 0 0 10px 0;
}